* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

body {
  background-color: #f3f4f6; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal-container {
  width: 370px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12),
    0px 0px 4px 0px rgba(20, 20, 20, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.page-list {
  list-style: none;
  margin-bottom: 20px;
}

.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.list-row:hover {
  background-color: #f7f7f7;
}

.row-label {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.list-divider {
  height: 1px;
  background-color: #eeeeee;
  margin: 5px 0 15px 0;
  width: 100%;
}


.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #d1d5db; /* Gray-300 */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #3b82f6; 
  border-color: #3b82f6;
}

.checkmark::after {
  content: "";
  display: none;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 2px; 
}

.checkbox-wrapper input:checked ~ .checkmark::after {
  display: block;
}

.list-row:hover .checkmark {
  border-color: #9ca3af;
}
.btn-done {
  width: 100%;
  height: 48px;
  background-color: #ffd15c; 
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #1f2937; 
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-done:hover {
  background-color: #fbbf24; 
}

.btn-done:active {
  transform: scale(0.99); 
}
